.mainPage {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.cards {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 3rem;
  justify-items: center;
  margin-top: 4rem;
}

.halal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.halal_img img {
  width: 80px;
}
.halal_info p {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: normal;
}
.halal_info h5 {
  font-size: 18px;
  color: rgb(92, 99, 112);
}

@media (min-width: 1125px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 844px) and (max-width: 1124px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 568px) and (max-width: 843px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  .cards {
    grid-template-columns: 1fr;
    width: 60%;
  }
  .halal {
    padding-left: 1rem;
  }
}

