.contact-details {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: grid;
  grid-template-columns: 55% 50%;
  padding-top: 10px;
  background-color: #fd9d3e;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.contact-wrapper {
  width: 100%;
}
.contact-order-top-img {
  margin-top: 50px;
  height: 138px;
}
.contact-order-top-img img {
  width: 100%;
  height: 138px;
}
.contact-order-bottom-img img {
  width: 100%;
  height: 138px;
}
iframe {
  border: 2px solid yellow;
}
.left-side-info {
  margin-left: 40px;
}
.left-side-info h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.contact-leftSide-icons a {
  margin-top: 6px;
  color: rgb(0, 0, 0);
}
.contact-leftSide-icons a:hover {
  cursor: pointer;
  color: rgb(228, 228, 228);
}

.contact-leftSide-icons li {
  display: grid;
  grid-template-columns: 18% 60%;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 20px;
  padding-left: 30px;
}

.contact-leftSide-icons li img {
  height: 50px;
  width: 50px;
  border: 1px solid rgb(92, 91, 91);
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}
.contact-leftSide-icons li img:hover {
  transform: rotate(360deg);
  height: 50px;
  width: 50px;
  /* transform: scale(1.5); */
  transition-duration: 1s;
  border: 1px solid #fd9d3e;
}
/* RIGHTSIDE INPUTS BEGIN HERE */
.contact-rightSide-inputs {
  width: 90%;
}
.contact-rightSide-inputs input,
textarea {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  resize: none;
}
.contact-rightSide-inputs textarea {
  padding-bottom: 10px;
  padding-bottom: 10px;
}
input::placeholder {
  color: black;
  font-size: 15px;
}
textarea::placeholder {
  color: black;
  font-size: 15px;
}
.contact-rightSide-inputs button {
  cursor: pointer;
  margin-top: 10px;
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  padding: 15px 0;
  width: 80%;
}
.contact-rightSide-inputs button:hover {
  box-shadow: 0 0 2px rgb(70, 68, 68);
}

@media (min-width: 1100px) and (max-width: 1500px) {
  .contact-leftSide-icons li {
    grid-template-columns: 17% 55%;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .contact-rightSide-inputs input,
  textarea {
    margin-top: 10px;
  }
  .left-side-info h2 {
    font-size: 30px;
    margin-bottom: 32px;
    margin-left: 26px;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .contact-leftSide-icons li {
    grid-template-columns: 17% 46%;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .contact-rightSide-inputs input,
  textarea {
    margin-top: 10px;
  }
  .left-side-info h2 {
    font-size: 30px;
    margin-bottom: 32px;
    margin-left: 26px;
  }
}

@media (min-width: 900px) and (max-width: 1000px) {
  .left-side-info {
    margin-left: 20px;
  }
  .contact-details {
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-left: 40px;
  }
  .left-side-info h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 17px;
  }
  .contact-leftSide-icons li {
    grid-template-columns: 20% 58%;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .left-side-info h2 {
    margin-left: 20px;
  }
  .contact-rightSide-inputs input,
  textarea {
    width: 75%;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .contact-rightSide-inputs textarea {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .contact-rightSide-inputs button {
    margin-top: 10px;
    padding: 15px 0;
    width: 75%;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .contact-leftSide-icons li {
    display: grid;
    grid-template-columns: 20% 54%;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .left-side-info h2 {
    font-size: 28px;
    margin-bottom: 32px;
    margin-left: 29px;
  }
  .contact-rightSide-inputs input {
    width: 76%;
    padding-top: 16px;
    padding-bottom: 17px;
  }
  .contact-rightSide-inputs input,
  textarea {
    padding-bottom: 14px;
  }
}
@media (min-width: 700px) and (max-width: 800px) {
  .left-side-info h2 {
    text-align: center;
  }
  .contact-details {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 50px 0;
    padding: 30px 0;
  }
  .contact-leftSide-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact-leftSide-icons li {
    grid-template-columns: 21% 65%;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 61px;
  }
  .contact-leftSide-icons li img {
    height: 40px;
    width: 40px;
    padding: 9px;
  }
  .contact-leftSide-icons a {
    margin-top: 6px;
  }
  .contact-rightSide-inputs input {
    width: 282px;
    margin-top: 10px;
  }
  .contact-rightSide-inputs textarea {
    resize: none;
    width: 282px;
    padding-top: 20px;
    padding-bottom: 18px;
  }
  .contact-rightSide-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .submit-btn button {
    width: 282px;
  }
  .contact-order-top-img {
    display: none;
  }
  .contact-order-bottom-img {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .left-side-info h2 {
    text-align: center;
    font-size: 27px;
    margin-bottom: 32px;
  }
  .contact-details {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 50px 0;
    padding: 30px 0;
  }
  .contact-leftSide-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contact-leftSide-icons li {
    grid-template-columns: 21% 71%;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 41px;
  }
  .contact-leftSide-icons li img {
    height: 40px;
    width: 40px;
    padding: 9px;
  }
  .contact-leftSide-icons a {
    margin-top: 0px;
  }
  .contact-rightSide-inputs input {
    width: 216px;
    margin-top: 10px;
  }
  .contact-rightSide-inputs textarea {
    width: 220px;
    padding-top: 20px;
    padding-bottom: 12px;
  }
  .contact-rightSide-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .submit-btn button {
    width: 220px;
  }
  iframe {
    height: 400px;
  }
  .contact-order-top-img {
    display: none;
  }
  .contact-order-bottom-img {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .left-side-info h2 {
    text-align: center;
    font-size: 27px;
    margin-bottom: 32px;
  }
  .contact-details {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 50px 0;
    padding: 30px 0;
  }
  .contact-leftSide-icons {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-leftSide-icons li {
    grid-template-columns: 21% 71%;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .contact-leftSide-icons li img {
    height: 50px;
    width: 50px;
    padding: 9px;
  }
  .contact-leftSide-icons a {
    margin-top: 0px;
  }
  .contact-rightSide-inputs {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
  .contact-rightSide-inputs input {
    width: 370px;
    margin-top: 10px;
  }
  .contact-rightSide-inputs textarea {
    width: 370px;
    padding-top: 20px;
    padding-bottom: 12px;
  }
  .submit-btn button {
    width: 370px;
  }
  iframe {
    height: 400px;
  }
  .contact-order-top-img {
    display: none;
  }
  .contact-order-bottom-img {
    display: none;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .left-side-info {
    margin-left: 0px;
  }
  .left-side-info h2 {
    text-align: center;
    font-size: 27px;
    margin-bottom: 32px;
  }
  .contact-details {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 50px 0;
    padding: 30px 0;
  }
  .contact-leftSide-icons {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-leftSide-icons li {
    grid-template-columns: 21% 71%;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .contact-leftSide-icons li img {
    height: 40px;
    width: 40px;
    padding: 9px;
  }
  .contact-leftSide-icons a {
    margin-top: 0px;
  }
  .contact-rightSide-inputs {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
  .contact-rightSide-inputs input {
    width: 330px;
    margin-top: 10px;
  }
  .contact-rightSide-inputs textarea {
    width: 330px;
    padding-top: 20px;
    padding-bottom: 12px;
  }
  .submit-btn button {
    width: 330px;
  }
  iframe {
    height: 400px;
  }
  .contact-order-top-img {
    display: none;
  }
  .contact-order-bottom-img {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .left-side-info {
    margin-left: 0px;
  }
  .left-side-info h2 {
    text-align: center;
    font-size: 27px;
    margin-bottom: 32px;
  }
  .contact-details {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 50px 0;
    padding: 30px 0;
  }
  .contact-leftSide-icons {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-leftSide-icons li {
    grid-template-columns: 21% 71%;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .contact-leftSide-icons li img {
    height: 40px;
    width: 40px;
    padding: 9px;
  }
  .contact-leftSide-icons a {
    margin-top: 0px;
  }
  .contact-rightSide-inputs {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
  }
  .contact-rightSide-inputs input {
    width: 255px;
    margin-top: 10px;
  }
  .contact-rightSide-inputs textarea {
    width: 255px;
    padding-top: 20px;
    padding-bottom: 12px;
  }
  .submit-btn button {
    width: 255px;
  }
  iframe {
    height: 400px;
  }
  .contact-order-top-img {
    display: none;
  }
  .contact-order-bottom-img {
    display: none;
  }
}
