.dnne {
  display: none;
}

.dnbl {
  display: block;
}

@media (max-width: 960px) {
  .dnne {
    display: inline;
  }
}

.activeClass {
  color: rgb(255, 105, 0);
}
.link_items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu_icon {
  display: none;
  cursor: pointer;
}
.link-header-pages {
  padding-top: 6px;
  display: flex;
  align-items: center;
  font-size: 100%;
  margin-right: 35px;
  font-weight: bolder;
  font-family: cursive;
}

.search {
  border-radius: 10px;
  height: 30px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchInput {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 7px;
}

.korzenka {
  font-size: 16px;
  font-weight: bolder;
  font-family: cursive;
  padding-right: 10px;
}
.costKorzenka {
  font-weight: bolder;
  font-size: 14px;
  font-family: cursive;
}
.off {
  display: none;
}
a {
  color: black;
}
.bottomHeader-korzenka-item {
  width: 16%;
  height: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
}

/* search  */
@media (min-width: 568px) and (max-width: 960px) {
  .bottomHeader-korzenka-item {
    width: 190px;
  }
  .costKorzenka {
    font-size: 12px;
  }
  .korzenka {
    font-size: 13px;
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  .costKorzenka,
  .korzenka {
    font-size: 13px;
  }
  .bottomHeader-korzenka-item {
    width: 240px;
  }
}

@media (min-width: 769px) and (max-width: 960px) {
  .link-header-pages {
    font-size: 15px;
    margin-right: 23px;
  }
}

@media (max-width: 768px) {
  .menu_icon {
    display: block;
    font-size: 23px;
    z-index: 99999;
    color: black;
    padding-left: 3px;
  }
  .menu_icon .fa-times {
    position: fixed;
    top: 7%;
    left: 5%;
  }
  .link_items {
    position: fixed;
    background-color: #fff;
    top: -100%;
    left: 0;
    width: 100%;
    height: 50vh;
    max-width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .link_items.active {
    top: 0%;
  }
  .link-header-pages {
    font-size: 17px;
  }
}

/* search media */
@media (min-width: 568px) and (max-width: 768px) {
  .search {
    height: 25px;
    width: 150px;
  }
}

@media (min-width: 0px) and (max-width: 568px) {
  .bottomHeader-korzenka-item {
    width: 100%;
  }
  .costKorzenka {
    padding-right: 10px;
  }
}

@media (min-width: 448px) and (max-width: 568px) {
  .disp_none {
    display: block;
  }
}
